# .github/workflows/deploy.yml
name: Deploy to Vercel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy project
        env:
          VERCEL_TOKEN: ${{ secrets.ANDY_VERCEL_TOKEN }}
        run: vercel --prod --confirm --token $VERCEL_TOKEN
